package service

import "fmt"

// SpaceEndpoint to the object store, e.g. s3.aws.com or ny1.digitaloceanspaces.com.
var SpaceEndpoint = "ny1.digitaloceanspaces.com"

// SpaceKey is an access key to the object store.
var SpaceKey = "ACCESS_KEY"

// SpaceSecret a secret hash to access the object store.
var SpaceSecret = "SECRET"

// Environments in Space to work with. Maps to bucket name.
var environments = map[string]string{
	"dev":     "dev.bucket",
	"staging": "staging.bucket",
	"live":    "live.bucket",
}

// GetBucket name from given environment name.
func GetBucket(env string) (string, error) {
	envs := make([]string, len(environments))
	for key, bucket := range environments {
		envs = append(envs, key)
		if key == env {
			return bucket, nil
		}
	}
	return "", fmt.Errorf("Invalid environment %v, possible values: %v", env, envs)
}
